/* App.css */

.header {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px;
}

.main {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px;
}

.app {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
}

/* styles/UserList.css */
/* Estilo para o contêiner principal */
.App {
display: flex;
justify-content: center;
align-items: center;
min-height: 100vh;
background-color: #000; 
}

/* Estilo para o contêiner de lista */
.home-page-list {
background-color: #000; 
color: #fff; 
border-radius: 8px;
box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
padding: 20px;
max-width: 800px;
width: 100%;
}


.home-page-list h1 {
font-size: 24px;
margin-bottom: 20px;
}


.home-page-list input[type="text"] {
width: 100%;
padding: 8px; 
margin-bottom: 10px;
border: 1px solid #fff; 
border-radius: 4px;
font-size: 14px; 
}

/* Estilo para botões */
.home-page-list button {
background-color: #fff; 
color: #000;
border: none;
padding: 10px 20px;
border-radius: 4px;
cursor: pointer;
transition: background-color 0.3s;
}

.home-page-list button:hover {
background-color: #000; 
color: #fff; 
}


.home-page-list select {
padding: 10px;
margin-right: 10px;
border: 1px solid #fff;
border-radius: 4px;
}


.home-page-list table {
width: 100%;
border-collapse: collapse;
}

.home-page-list table th, .home-page-list table td {
border: 1px solid #fff; 
padding: 8px; 
text-align: center;
font-size: 14px; 
}

.home-page-list table th {
background-color: #000; 
color: #fff; 
}

.home-page-list table tr:nth-child(even) {
background-color: #000; 
color: #fff; 
}




.modal-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: rgba(0, 0, 0, 0.651); 
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.modal-content {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  max-width: 600px;
  width: 100%;
  padding: 20px;
}

.modal-header {
  font-size: 24px;
  margin-bottom: 20px;
  text-align: center;
}

.modal-footer {
  display: flex;
  justify-content: space-between;
}

.modal-button {
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
}

.modal-button.close {
  background-color: #007bff; 
  color: #fff; 
  transition: background-color 0.3s;
}

.modal-button.close:hover {
  background-color: #b30000; 
}

.modal-button.primary {
  background-color: #28a745; 
  color: #fff; 
  transition: background-color 0.3s;
}

.modal-button.primary:hover {
  background-color: #218838; 
}

.fade-in {
  animation: fadeIn 0.5s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

